In [147]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import matplotlib.dates as mdates

In [148]:
folder_path = 'C:\\Users\\linti\\Desktop\\Advanced Data Science for Transport and Engineering\\Weekly_Data'
data_sensors_path = '\\0922_Sensor data_Utrecht.csv'
path = folder_path + data_sensors_path
data_sensors = pd.read_csv(path, delimiter=';')

In [149]:
data_sensors

,date,status,sensor id,location name,city name
0,2024-10-10 04:30:21+00:00,False,863213040201795,Lange Viestraat,Utrecht
1,2024-10-10 04:50:40+00:00,True,863213040198801,Stadhuisplein,Utrecht
2,2024-10-10 04:59:14+00:00,True,863213040198769,Lange Viestraat,Utrecht
3,2024-10-10 05:05:01+00:00,False,863213040206349,Domplein,Utrecht
4,2024-10-10 05:08:41+00:00,True,863213040200003,Lange Viestraat,Utrecht
...,...,...,...,...,...
140955,2025-06-17 10:18:00+00:00,False,863213040206976,Lange Viestraat,Utrecht
140956,2025-06-17 10:24:13+00:00,True,863213040212289,Lange Viestraat,Utrecht
140957,2025-06-17 10:31:52+00:00,True,863213040215340,Beurskwartier,Utrecht
140958,2025-06-17 10:35:12+00:00,True,863213040206976,Lange Viestraat,Utrecht
140959,2025-06-17 10:39:47+00:00,True,863213040212370,Lange Viestraat,Utrecht

Create columns named "date" in YY-MM-DD, "time" in hh:mm:ss, and day in 0-6 where 0 denotes Monday and 6 denotes Sunday.

In [150]:
# Convert Timestamp column to datetime
data_sensors['date'] = pd.to_datetime(data_sensors['date'], errors='coerce', utc=True)
# print(data_sensors)
data_sensors['day'] = data_sensors['date'].dt.dayofweek

Create filters

In [151]:
def filter_by_location(data, loc):
    return data[data["location name"] == loc]
def filter_by_date(data, start_date, end_date): # can be multiple date gaps
    '''
    start_date, end_date should be 'YYYY-MM-DD' strings or datetime
    '''
    
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    return data[(data["date"].dt.date >= start_date.date()) &
                (data["date"].dt.date <= end_date.date())]

Custom ur filter here

In [152]:
# def filter_by_masks(df):
#     mask = False
#     # Mon–Fri: 06–18
#     mask |= ((df["day"].between(0, 4)) &
#              (df["date"].dt.hour >= 6) &
#              (df["date"].dt.hour < 18))

#     # Sat: 06–16
#     mask |= ((df["day"] == 5) &
#              (df["date"].dt.hour >= 6) &
#              (df["date"].dt.hour < 16))

#     # Sun: three slots
#     # 05:30–08:30
#     mask |= ((df["day"] == 6) &
#              ((df["date"].dt.hour == 5) & (df["date"].dt.minute >= 30) |
#               (df["date"].dt.hour > 5) & (df["date"].dt.hour < 8) |
#               (df["date"].dt.hour == 8) & (df["date"].dt.minute < 30)))

#     # 12:00–14:00
#     mask |= ((df["day"] == 6) &
#              (df["date"].dt.hour >= 12) &
#              (df["date"].dt.hour < 14))

#     # 18:30–20:00
#     mask |= ((df["day"] == 6) &
#              ((df["date"].dt.hour == 18) & (df["date"].dt.minute >= 30) |
#               (df["date"].dt.hour == 19) |
#               (df["date"].dt.hour == 20) & (df["date"].dt.minute == 0)))

#     return df[mask]

Change the start_date. Now the end_date is intended to be equal to start_date. This define the data in a single day. Further update should define the from a single day to a time period.

In [153]:
start_date = '2024-10-21'
end_date = start_date
df_loc = filter_by_location(data_sensors, "Neude")
df_date = filter_by_date(df_loc, start_date=start_date, end_date=end_date)
# df_time = filter_by_masks(df_date)

hello
hello2

In [154]:
df_date

,date,status,sensor id,location name,city name,day
7344,2024-10-21 02:45:33+00:00,False,863213040215571,Neude,Utrecht,0
7359,2024-10-21 04:14:46+00:00,True,863213040215571,Neude,Utrecht,0
7361,2024-10-21 04:24:50+00:00,False,863213040215571,Neude,Utrecht,0
7423,2024-10-21 06:48:19+00:00,True,863213040215571,Neude,Utrecht,0
7428,2024-10-21 06:54:46+00:00,False,863213040215571,Neude,Utrecht,0
7430,2024-10-21 07:25:26+00:00,True,863213040215571,Neude,Utrecht,0
7431,2024-10-21 07:25:35+00:00,False,863213040215571,Neude,Utrecht,0
7432,2024-10-21 07:38:15+00:00,True,863213040215571,Neude,Utrecht,0
7445,2024-10-21 07:58:31+00:00,False,863213040215571,Neude,Utrecht,0
7446,2024-10-21 07:58:39+00:00,True,863213040215571,Neude,Utrecht,0
7453,2024-10-21 08:05:32+00:00,False,863213040215571,Neude,Utrecht,0
7477,2024-10-21 08:38:50+00:00,True,863213040215571,Neude,Utrecht,0
7478,2024-10-21 08:39:00+00:00,False,863213040215571,Neude,Utrecht,0
7481,2024-10-21 08:42:49+00:00,True,863213040215571,Neude,Utrecht,0
7483,2024-10-21 08:46:26+00:00,False,863213040215571,Neude,Utrecht,0
7531,2024-10-21 10:20:43+00:00,True,863213040215571,Neude,Utrecht,0
7541,2024-10-21 10:26:04+00:00,False,863213040215571,Neude,Utrecht,0
7622,2024-10-21 13:49:26+00:00,True,863213040215571,Neude,Utrecht,0
7623,2024-10-21 13:50:14+00:00,False,863213040215571,Neude,Utrecht,0
7661,2024-10-21 17:43:26+00:00,False,863213040215571,Neude,Utrecht,0
7709,2024-10-21 22:28:59+00:00,False,863213040215571,Neude,Utrecht,0

3. Pick sensors in the location

In [155]:
def get_sensors(data):
    """Assumes 'sensor' column exists with sensor IDs/names"""
    return data["sensor id"].unique()

In [156]:
sensors = get_sensors(df_loc) # should be 2 sensors in the Piața Orizont

4. Plot one sensor's status over time

In [157]:
def plot_sensor(data, sensor_name, fig, ax, i, j = 0):
    sensor_data = data[data["sensor id"] == sensor_name]
    ax.step(sensor_data["date"], sensor_data["status"].astype(int))
    # Major ticks every hour
    fig.gca().xaxis.set_major_locator(mdates.HourLocator())
    fig.gca().xaxis.set_major_formatter(mdates.DateFormatter('%H:%M'))

    # Minor ticks every 15 minutes
    fig.gca().xaxis.set_minor_locator(mdates.MinuteLocator(byminute=[0,15,30,45]))
    # Show grid for both major and minor ticks
    ax.grid(which='major', linestyle='-', linewidth=0.8)
    ax.grid(which='minor', linestyle='--', linewidth=0.5, alpha=0.5)
    ax.set_title(f"Sensor: {sensor_name}")
    ax.set_xlabel("Time")
    ax.set_ylabel("Status (1=True, 0=False)")
    ax.grid(True, alpha=0.3)